Xml.Tests/BookListAttributes/book-list-attributes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.contoso.com/books">
  <xs:element name="books">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="price" type="xs:decimal"/>
            <xs:attribute name="genre" type="xs:string"/>
            <xs:attribute name="isbn" type="xs:string"/>
            <xs:attribute name="publicationDate" type="xs:date"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>